USE [master]
GO
/****** Object:  Database [BIDWGQCAL]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE DATABASE [BIDWGQCAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIDWGQCAL', FILENAME = N'C:\Devices_cal\BIDWGQCAL.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIDWGQCAL_log', FILENAME = N'C:\Devices_cal\BIDWGQCAL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIDWGQCAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIDWGQCAL]
GO
/****** Object:  User [sapbi]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE USER [sapbi] FOR LOGIN [sapbi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GQSV\sapbi]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE USER [GQSV\sapbi] FOR LOGIN [GQSV\sapbi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sapbi]
GO
ALTER ROLE [db_owner] ADD MEMBER [GQSV\sapbi]
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Area]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Area] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Detalle_Tipo_Situacion_Reclamo]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Detalle_Tipo_Situacion_Reclamo] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Marca]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Marca] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Severidad]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Severidad] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Sociedad]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Sociedad] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_Tipo_Situacion_Reclamo]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_Tipo_Situacion_Reclamo] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
USE [BIDWGQCAL]
GO
/****** Object:  Sequence [dbo].[Seq_Dim_TransaccionOrigen]    Script Date: 5/23/2014 2:36:10 PM ******/
CREATE SEQUENCE [dbo].[Seq_Dim_TransaccionOrigen] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[DimArea]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimArea](
	[Id_Area] [int] NOT NULL CONSTRAINT [DF_DIMArea_Id_Area]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Area]),
	[DescripcionArea] [varchar](60) NULL,
 CONSTRAINT [PK_DIMArea] PRIMARY KEY CLUSTERED 
(
	[Id_Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimDetalleTipoSituacionReclamo]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimDetalleTipoSituacionReclamo](
	[Id_DetalleTipoSituacionReclamo] [int] NOT NULL CONSTRAINT [DF_DimDetalleTipoSituacionReclamo_Id_DetalleTipoSituacionReclamo]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Detalle_Tipo_Situacion_Reclamo]),
	[DescripcionDetalleTipoSituacionReclamo] [varchar](60) NULL CONSTRAINT [DF_DimDetalleTipoSituacionReclamo_DescripcionDetalleTipoSituacionReclamo]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Detalle_Tipo_Situacion_Reclamo]),
 CONSTRAINT [PK_DimDetalleTipoSituacionReclamo] PRIMARY KEY CLUSTERED 
(
	[Id_DetalleTipoSituacionReclamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimMarca]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimMarca](
	[Id_Marca] [int] NOT NULL CONSTRAINT [DF_DIMMarca_Id_Marca]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Marca]),
	[DescripcionMarca] [varchar](60) NULL,
 CONSTRAINT [PK_DIMMarca] PRIMARY KEY CLUSTERED 
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimSeveridad]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimSeveridad](
	[Id_Severidad] [int] NOT NULL CONSTRAINT [DF_DIMSeveridad_Id_Severidad]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Severidad]),
	[DescripcionSeveridad] [varchar](60) NULL,
 CONSTRAINT [PK_DIMSeveridad] PRIMARY KEY CLUSTERED 
(
	[Id_Severidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimSociedad]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimSociedad](
	[Id_Sociedad] [int] NOT NULL CONSTRAINT [DF_DimSociedad_Id_Sociedad]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Sociedad]),
	[CodigoSociedad] [varchar](10) NULL,
	[DescripcionSociedad] [varchar](60) NULL,
	[NombreCorto] [varchar](60) NULL,
	[Pais] [varchar](60) NULL,
	[CodigoPais] [varchar](60) NULL,
 CONSTRAINT [PK_DimSociedad] PRIMARY KEY CLUSTERED 
(
	[Id_Sociedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimTipoSituacionReclamo]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimTipoSituacionReclamo](
	[Id_TipoSituacionReclamo] [int] NOT NULL CONSTRAINT [DF_DimTipoSituacionReclamo_Id_TipoSituacionReclamo]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_Tipo_Situacion_Reclamo]),
	[DescripcionTipoSituacionReclamo] [varchar](60) NULL,
 CONSTRAINT [PK_DimTipoSituacionReclamo] PRIMARY KEY CLUSTERED 
(
	[Id_TipoSituacionReclamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimTransaccionOrigen]    Script Date: 5/23/2014 2:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimTransaccionOrigen](
	[Id_TransaccionOrigen] [int] NOT NULL CONSTRAINT [DF_DimTransaccionOrigen_Id_TransaccionOrigen]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Dim_TransaccionOrigen]),
	[DescripcionTransaccionOrigen] [varchar](60) NULL,
 CONSTRAINT [PK_DimOrigenTransaccion] PRIMARY KEY CLUSTERED 
(
	[Id_TransaccionOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
